html, body {
    height: 100%;
    font-family: Calibri;
    font-style: normal;
}

.container, .row {
    height: 100% !important;
}

.height {
    height: 100%;
}

.sidenav {
    padding: .5rem;
}

a {
    color: #904d37;
    padding: 0;
}

a:hover {
    text-decoration: none;
    color: #4f2e2c;
}

img {
    max-width: 400px;
}